body {
    background-image: url(img/back-to-school-2614359_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
